{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="mb-5 mt-5">
    <h4 class="mb-3">Registration</h4>
    <hr>
    <!-- delete was-validated to delete errors -->
    <form class="needs-validation" novalidate="">
        <div class="mb-3 w-50">
            <label for="login">Login</label>
            <input type="text" class="form-control" id="login" placeholder="Enter login" value="" required="" maxlength="20" autofocus="">
            <div class="invalid-feedback">
                Please enter a login.
            </div>
        </div>

        <div class="mb-4 w-50">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" placeholder="Enter email address" required="" maxlength="20">
            <div class="invalid-feedback">
                Please enter a password.
            </div>
        </div>

        <div class="mb-3 w-50">
            <label for="nickname">NickName</label>
            <input type="text" class="form-control" id="nickname" placeholder="Enter nickname" value="" required="" maxlength="20">
            <div class="invalid-feedback">
                Please enter a nickname.
            </div>
        </div>

        <div class="mb-4 w-50">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" value="" required="" maxlength="20">
            <div class="invalid-feedback">
                Please enter a password.
            </div>
        </div>

        <div class="mb-4 w-50">
            <label for="repeatPassword">Repeat password</label>
            <input type="password" class="form-control" id="repeatPassword" placeholder="Enter password" value="" required="" maxlength="20">
            <div class="invalid-feedback">
                Please enter a password.
            </div>
        </div>

        <div class="mb-4 w-50">
            <label for="">Upload avatar</label>
            <br>
            <label class="btn btn-outline-primary mr-2" for="my-file-selector">
                <input id="my-file-selector" type="file" style="display:none" accept="image/*"
                onchange="$('#upload-file-info').html(this.files[0].name)">
                Choose image
            </label>
            <span class='label label-info' id="upload-file-info"></span>
        </div>

        <div class="alert alert-danger invisible" role="alert">
            Sorry, this file is not image
            Sorry, this login already used
            Sorry, this email adress already registred
        </div>

        <input class="btn btn-primary btn-success w-25" type="reset" value="Register">
    </form>
</div>

{% endblock %}
