{% load static %}

<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <a class="navbar-brand" href="{% url 'index' %}">ASK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mb-1" id="navbarCollapse">
        <form class="form-inline mt-2 mt-md-0 mr-auto">
            <input class="form-control mr-2" type="text" placeholder="Search" aria-label="Search" style="width: 380px;">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ask</button>
        </form>

        <!-- <div>
            <div class="d-inline-block ">
                <a href="# ">
                    <img class="float-left mt-1 ml-lg-3 ml-md-3 mr-3" style="width: 50px; height: 50px;" src="{% static 'img/iguana.png' %}" alt="Avatar ">
                </a>
            </div>
            <div class="d-inline-block">
                <div style=" font-size: 20px;">
                    User login
                </div>
                <div class="d-inline-block pt-1">
                    <a href="# " class="mr-3">Settings</a>
                    <a href="# " class="mr-3">Logout</a>
                </div>
            </div>
        </div> -->

        <div>
            <div class="d-inline-block ">
                <a type="button" href="{% url 'login' %}" class="btn btn-outline-secondary mr-1" role="button">Login</a>
                <a type="button" href="{% url 'signup' %}" class="btn btn-success" role="button">Sing up</a>
            </div>
        </div>
    </div>
</nav>
