{% load static %}

<div class="container-fluid mt-3">
    <div class="media">
        <div class="mr-4">
            <div class="">
                <a href="# ">
                    <img class="mt-1 mb-4" style="width: 50px;" src="{% static 'img/iguana.png' %} " alt="Avatar ">
                </a>
            </div>

            <div class="text-center">
                <a href="# ">
                    <img class=" " style="width: 40px; height: 30px; " src="{% static 'img/up.png' %} " alt="Rating Up ">
                </a>
                <div class="text-center">
                    0
                </div>
                <a href="# ">
                    <img class=" " style="width: 40px; height: 30px; " src="{% static 'img/down.png' %} " alt="Rating Down ">
                </a>
            </div>
        </div>

        <div class="media-body">
            <a href="{% url 'question' qid=question.id %}" class="ml-lg-3 "><h4 class="mt-n3 mb-n3 ml-lg-3">{{ question.title }}</h4></a>
            <br>
            <p class="ml-lg-3 mt-3 ">{{ question.text }}</p>
            <br>
            <div class="mb-1 ml-lg-3 ">
                <a href="# " class="d-inline mr-5 ">answers (3)</a>
                <div class="d-inline-block ">
                    <p class="d-inline mr-2 ">Tags:</p>
                    <button type="button " class="btn btn-light ">python</button>
                    <button type="button " class="btn btn-light ">django</button>
                    <button type="button " class="btn btn-light ">bootstrap</button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
