<div class="container mt-4 ">
    <div class="pt-5 pl-3 ">
        <h4 class="pb-2 ">Popular tags</h4>
        <button type="button " class="btn btn-light mb-1 ">python</button>
        <button type="button " class="btn btn-light mb-1 ">django</button>
        <button type="button " class="btn btn-light mb-1 ">mysql</button>
        <button type="button " class="btn btn-light mb-1 ">perl</button>
        <button type="button " class="btn btn-light mb-1 ">javascript</button>
        <button type="button " class="btn btn-light mb-1 ">css</button>
        <button type="button " class="btn btn-light mb-1 ">html</button>
    </div>

    <div class="pt-5 pl-3 ">
        <h4 class="pb-2 ">Best Members</h4>
        <ol class=" list-unstyled ">
            <li><a href="# ">User 1</a></li>
            <li><a href="# ">User 2</a></li>
            <li><a href="# ">User 3</a></li>
            <li><a href="# ">User 4</a></li>
            <li><a href="# ">User 5</a></li>
        </ol>
    </div>
</div>
